@model IEnumerable<WebApplication8.Models.Donation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disaster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disaster.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Donation_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Donation_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Donation_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
